/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.
Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Start your base/mobile styles here */

html, body {
    font-size: 16px;
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-family: "Georgia", serif;
}

h1, h2, h3 {
    margin: 5px 0px 10px 10px;
}

h1 {
    font-size: 3em;
}

h2, h3, figcaption {
    font-family: "Geneva", sans-serif;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: .9em;
    color: #888;
}

.byline {
    text-transform: uppercase;
}

img {
    width: 100%;
}

figcaption {
    font-size: .9em;
    color: #888;
    margin: 5px;
}

.text-container {
    line-height: 1.7em;
    margin: 4%;
}

p {
    font-size: 1.3em;
    padding: 10px;
}


/*emphasize first letter in critical paragraphs*/

p.intro::first-letter {
    color: #D07E50;
    font-size: 3em;
    font-weight: 900;
    padding-right: .1em;
}


/*emphasize a few words*/

.highlight {
    background: yellow;
}


/* unvisited and visited link */

a:link, a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid red;
    padding-bottom: .05em;
}


/*This is centered in mobile view but will be floated right in desktop view*/

.pullquote-right {
    margin: auto;
    width: 75%;
    font-family: Georgia;
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
}

p.pquote::first-letter {
    color: #D07E50;
    font-size: 2em;
    font-weight: 900;
}

blockquote {
    width: 70%;
    float: none;
    /*prevents content from floating around pullquote*/
    margin: 40px auto 100px auto;
    padding: 0px;
    font-size: 1.8em;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    position: relative;
}

blockquote::before {
    content: '\201c';
    top: 20px;
    left: -22px;
}

blockquote::after {
    content: '\201d';
    bottom: -55px;
}

blockquote::before, blockquote::after {
    font-size: 4.2em;
    color: #D07E50;
    font-family: 'georgia';
    position: absolute;
}

blockquote cite {
    font-size: .6em;
    font-style: normal;
    /*cite by default is italic. so this makes it normal*/
    display: block;
    line-height: 1.2em;
    text-align: left;
    color: #888;
    position: absolute;
    top: 110%;
    right: 20px;
}


/*.fade-in {
    visibility: hidden;
}

.fade-in: active {
    visibility: visible;
}*/

#yoga {
    display: none;
}


/* Tablet/Desktop overrides */

@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1em;
    }
    .text-container {
        width: 65%;
        margin: auto;
    }
    .pullquote-right, blockquote {
        font-size: 2.5em;
    }
    .pullquote-right {
        width: 75%;
        float: none;
        text-align: center;
    }
    blockquote {
        float: none;
        width: 80%;
        /*allow content to float around pullquote*/
        margin: 100px auto 150px auto;
        padding: 0px;
    }
    blockquote::before {
        top: 20px;
        left: -10px;
    }
    blockquote::after {
        bottom: -80px;
    }
}

@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
    figcaption {
        padding-bottom: 10px;
    }
    /* visited link */
    a:hover {
        color: purple;
        text-decoration: underline;
    }
    /* mouse over link */
    a:active {
        color: green;
    }
    blockquote {
        float: right;
        width: 45%;
        /*allow content to float around pullquote*/
        margin: 100px 20px 150px 20px;
        padding: 0px;
    }
    blockquote::after {
        bottom: -70px;
    }
}


}
